@import './components/user/User';
@import './components/contacts/Contact';
@import './components/cordonates/Cordonates';
@import './components/skills/Skills';
.Profile{
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 1rem;
    @media screen and (max-width : 1000px) {
        height: 69vh;
        grid-template-columns: 1fr;
        overflow-y: scroll;
        padding: 1rem;
    }
    &_buttons{
        @include Flex();
        gap: 1rem;
    }
    &_button{
    padding: 0.3rem 2rem;
    font-size: 1.1rem;
    color: white;
    border: none;
    border-radius: 10px;
    @media screen and (max-width : 1000px) {
        padding: 0.3rem 1.2rem;
        font-size: 1rem;
        margin-top:2rem ;
    }
    }
}

.save-btn{
    background: #4ace1e;
}
.inherit-btn{
    background:rgba(239, 176, 4, 0.808);
}