@import '../../components/SideBar/Sidebar';
.Layout{
    height: 90vh;
    width: 100%;
    background: #ffff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 3px 3px 18px #0000002b;
    margin: 5vh 5vw;
    @include Flex();
    &__Child{
        background-color: white;
        width: 100%;
        margin-left: -16px;
        border-radius: 16px;
        height: 100%;
        @include Flex();
        z-index: 2;
    }
}