.User{
    @include Flex(column,flex-start , center);
    height: fit-content;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.379);
    &-avatar{
        position: relative;
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        margin-bottom: 1rem;
        margin-top: 1rem;
        overflow: hidden;
        border: 4px solid rgb(164, 202, 224);
        &-img{
            width: 100%;
        }
        &-upload{
            position: absolute;
            height: 100%;
            width: 100%;
            bottom: 0;
           @include Flex();
            background-color: transparent;
            color: transparent;
            padding: 0.5rem 1rem;
            border-radius: 0.3rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover{
                background:linear-gradient(to right,#00e1ff46 , #9900ff57 ) ;
                color: white;
            }
        }
    }
    &-job,&-location{
        font-size: 17px;
        font-weight: 200;
        color : rgba(0, 0, 0, 0.598);
        text-transform: capitalize;
        border: none;
        text-align: center;
        padding: 0.2rem 0;
        border-radius: 4px;
        margin-bottom: 2rem;
        &:hover , &:active{
            border: 2px solid;
            border-color:  rgb(164, 202, 224);
        }
    }
}
#upload-file{
    cursor: pointer;
}